<%= form_for(@photo, html: {multipart: true} ) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div id='image_wraper'>
<%= f.label :image, 'Add a pic?'%>
<%= f.file_field :image, onchange: "readURL(this);" %>
   <img id="img_prev" src="#" alt="your image" />
</div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit  %>
  </div>


<% end %>

 